# APP settings
VITE_TITLE = LEMONEX
VITE_BACKEND_URL=http://localhost:3001

# XRPL Endpoint
VITE_XRPL_ENDPOINT=wss://s.devnet.rippletest.net:51233/

# XRPL Accounts
VITE_SYSTEM_ADDRESS=your_xrpl_accunt1
VITE_ISSUER_ADDRESS=your_xrpl_accunt2
VITE_ISSUER_SECRET=your_xrpl_secret2

# XUMM API Credentials
VITE_XUMM_API_KEY=your_xumm_api_key_here1
VITE_ISSUER_XUMM_API_KEY = 8dab2227-92a8-4906-b652-a9f4e71ef9ba

