# XRPL Endpoint
# Test Net
# XRPL_ENDPOINT=wss://s.altnet.rippletest.net:51233/
# DevNet
XRPL_ENDPOINT=wss://s.devnet.rippletest.net:51233/

# XRPL Accounts
SYSTEM_ADDRESS=your_xrpl_accunt1
SYSTEM_SECRET=your_xrpl_sectet1
ISSUER_ADDRESS=your_xrpl_accunt2
ISSUER_ADDRESS=your_xrpl_sectet2
OPERATOR_ADDRESS=your_xrpl_accunt3
OPERATOR_SECRET=your_xrpl_sectet3

# XUMM API Credentials
XUMM_API_KEY=your_xumm_api_key_here1
XUMM_API_SECRET=your_xumm_api_secret_here1
ISSUER_XUMM_API_KEY = your_xumm_api_key_here2
ISSUER_XUMM_API_SECRET=your_xumm_api_secret_here2

# Port for the backend server
PORT=3001

# IPFS access
PINATA_JWT=your_ipfs_pinata_jwt
